.login-button:hover{
    color: blue;
}
.register-button:hover{
    color:blue;
}
.Android-App:hover{
    color:blue;
}
.About:hover{
    color:black;
}
.Home:hover{
    color:black;
}
.Category:hover{
    color:black;
}
.Contact:hover{
    color:black;
}
.cart:hover{
    color: blue;
}
.whatsapp:hover{
    color: #18cf5c;
}
.twitter:hover{
    color: #1DA1F2;
}
.facebook:hover{
    color: #4267B2;
}
.envelop:hover{
    color: #EA4335;
}
.user:hover{
    color: #1DA1F2;
}




